<h1>Websocket updates:</h1>
<h3>Simulates an update every 10s (due to API constraints)</h3>

<br>
<br>

<div id="line"></div>
<div id="dest"></div>
<div id="arrive"></div>


<!-- Update every 10s -->

<input type="button" id="trigger"/>

<script>

let button = document.getElementById('trigger')
button.style.visibility = 'hidden'

setInterval(function() {
  button.click()
  }, 10000)
</script>
