<h1>API Experiment</h1>

<% route = MbtaTracker.getStop!(42.346961, -71.076640) %>

<h3>Mode: <%= route["mode_name"] %></h3>
<h3>Trip: <%= Enum.at(Enum.at(Enum.at(route["route"], 0)["direction"], 0)["trip"], 0)["trip_headsign"] %></h3>
<h5>Arriving in: <%= round(String.to_integer(Enum.at(Enum.at(Enum.at(route["route"], 0)["direction"], 0)["trip"], 0)["pre_away"])/60) %> minutes</h5>
